################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/data-sense/FileContentIndex
**/bin/*
**/obj/*
/.vs
/obj
